/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ESTILOS GENERALES ===== */
body {
  font-family: sans-serif;
  background-color: #f3f3f3;  
  color: #333;
}


/* ===== Header y menú ===== */
header {
  background-color: #a8e6cf;   
  text-align: center;
  padding: 1.5rem 1rem;
}

header h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.menu {
  list-style: none;         
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.menu li a {
  text-decoration: none;    
  color: #1f3b32;
  font-size: 0.9rem;
  font-weight: bold;
}

/* ===== Main y secciones ===== */
main {
  padding: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

h2 {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* ===== Galería  ===== */
.galeria {
  display: flex;
  flex-direction: column; 
  gap: 0.75rem;
}

.galeria img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

/* ===== Servicios ===== */
.servicios {
  display: flex;
  flex-direction: column;  
  gap: 1rem;
}

.servicio {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.servicio h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* ===== Servicios ===== */
.info {
  background-color: #f8c29b; 
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.info h2 {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.4rem;
}

/* ===== Footer ===== */
footer {
  background-color: #a8e6cf;   
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
footer h3 {
  font-size: 0.9rem;
}

/* ===== Media Queries ===== */
@media (min-width: 768px) {
 
  header h1 {
    font-size: 1.8rem;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    }
  .galeria {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .imagen {
    width: 30%;
  }

  .imagen img {
    width: 100%;
    height: auto;
  }
  
  .servicios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .servicio {
    width: 30%;
  }

  .info {
    max-width: 94%;
    margin: 0.5rem auto ;
  }
}

@media (min-width: 1200px) {
 

  .imagen {
    width: 23%;
    
  }

   .servicios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    
  }
  
  .info {
    max-width: 94%;
    margin: 0.5rem auto ;
  }

  
}